@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
*,
html,
body {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

html {
  padding: 0;
}

body {
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
}

hr {
  width: 100%;
  height: 2px;
  background: rgba(33, 56, 66, 0.0955529);
  margin: 150px auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  max-width: 1440px;
  margin: 0px auto;
}

.container {
  max-width: 1070px;
  margin: 0px auto;
}

.header {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 810px;
  min-height: 810px;
  height: 100vh;
  padding: 25px 20px;
  max-width: 100%;
  background: url("../imgs/header/header-background.png") 0 0/100% 100% no-repeat;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 134px 0px;
}

.header__head-logo {
  font-size: 42px;
  color: #f5f6f7;
  font-weight: 700;
}

.header__block {
  width: 55%;
}

@media (max-width: 767px) {
  .header__block {
    width: 70%;
  }
}

.header__subtext {
  font-weight: 400;
  font-size: calc(10px + 4 * (100vw / 1440));
  line-height: 21px;
  color: #ffffff;
  margin: 0px 0px 22px 0px;
}

.header__title {
  font-weight: 700;
  font-size: calc(28px + 32 * (100vw / 1440));
  line-height: 74px;
  color: #ffffff;
  margin: 0px 0px 24px 0px;
}

.header__text {
  font-weight: 400;
  font-size: calc(12px + 4 * (100vw / 1440));
  line-height: 26px;
  color: #ffffff;
  margin: 0px 0px 45px 0px;
}

.header__button-get-in-touch {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffd723;
  background-color: #f2f2f200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button-get-in-touch-after {
  border-bottom: 1px solid #ffd723;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 105px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__button-get-in-touch-before {
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid #ffd723;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  margin: 0px 5px 0px 0px;
  border-radius: 3px;
}

.menu {
  background-color: #f5f6f7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.strip {
  position: absolute;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1276px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 166px 54px 65px;
  top: -100px;
  right: 0;
  background: #ffffff;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.strip__img {
  margin: 0px 0px 0px 66px;
}

.strip__img:first-child {
  margin: 0px 0px 0px 0px;
}

.main {
  background: #fff;
  position: relative;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bcard-comment__body {
  width: 474px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 244px 40px 60px 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
}

.bcard-comment__text {
  font-style: italic;
  font-weight: 400;
  font-size: calc(16px + 8 * (100vw / 1440));
  line-height: 40px;
  color: #4d533c;
  width: 426px;
}

.bcard-comment__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px 0px 0px;
}

.bcard-comment__account-img {
  max-width: 140px;
  max-height: 120px;
}

.bcard-comment__account-name {
  font-weight: 700;
  font-size: calc(16px + 6 * (100vw / 1440));
  line-height: 33px;
  /* identical to box height */
  color: #4d533c;
}

.bcard-comment__account-desc {
  font-weight: 400;
  font-size: calc(12px + 4 * (100vw / 1440));
  line-height: 24px;
  /* identical to box height */
  color: #152934;
}

.element {
  width: 44vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.element__subtext {
  font-weight: 400;
  font-size: calc(10px + 4 * (100vw / 1440));
  line-height: 21px;
  color: rgba(77, 83, 60, 0.9);
  margin: 0px 0px 29px 0px;
}

.element__title {
  max-width: 400px;
  font-weight: 700;
  font-size: calc(26px + 10 * (100vw / 1440));
  line-height: 46px;
  color: #4d533c;
  margin: 0px 0px 35px 0px;
}

.element__text {
  max-width: 421px;
  font-weight: 400;
  font-size: calc(12px + 4 * (100vw / 1440));
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
  margin: 0px 0px 42px 0px;
}

.element__button {
  font-weight: 400;
  font-size: calc(12px + 4 * (100vw / 1440));
  line-height: 18px;
  color: #d4d6d4;
  background-color: #fff;
  width: 145px;
}

.element__button-b1 {
  font-weight: 400;
  font-size: calc(12px + 4 * (100vw / 1440));
  line-height: 18px;
  color: #d4d6d4;
  background-color: #fff;
  width: 180px;
}

.card-comment {
  width: 50%;
}

.card-comment__body {
  padding: 30px;
  background: #ffffff;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
  max-width: 450px;
  width: 100vw;
  min-width: 300px;
}

.card-comment__text {
  font-style: italic;
  font-weight: 400;
  font-size: calc(12px + 4 * (100vw / 1440));
  line-height: 24px;
  color: #4d533c;
}

.card-comment__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-comment__account-img {
  width: 90px;
  height: 90px;
}

.card-comment__account-name {
  font-weight: 700;
  font-size: calc(16px + 6 * (100vw / 1440));
  line-height: 33px;
  /* identical to box height */
  color: #4d533c;
}

.card-comment__account-desc {
  font-weight: 400;
  font-size: calc(12px + 4 * (100vw / 1440));
  line-height: 24px;
  /* identical to box height */
  color: #152934;
}

.block-2 {
  margin: 0px 0px 104px 0px;
}

.block-2__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.block-2__element-title {
  width: 40%;
  max-width: 350px;
  font-weight: 700;
  font-size: calc(26px + 10 * (100vw / 1440));
  line-height: 46px;
  color: #4d533c;
  margin: 0px 133px 0px 0px;
}

.block-2__element-text {
  width: 49%;
  font-weight: 400;
  font-size: calc(12px + 4 * (100vw / 1440));
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
  margin: 5px 0px 42px 0px;
}

.block-3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 165px 0px;
}

.block-3__bimg {
  position: relative;
  width: 50%;
}

.block-3__bimg > img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 0px -190px;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-3__card-comment {
  position: absolute;
  bottom: -65px;
  right: 120px;
}

.block-3__element {
  width: 40%;
}

.block-4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 165px 0px;
}

.block-4__bimg {
  position: relative;
  width: 50%;
}

.block-4__bimg > img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px -190px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-4__card-comment {
  position: absolute;
  bottom: -65px;
  left: -45px;
}

.block-5 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 165px 0px;
}

.block-5__bimg {
  position: relative;
  width: 50%;
}

.block-5__bimg > img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 0px -190px;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-5__card-comment {
  position: absolute;
  bottom: -65px;
  right: 120px;
}

.block-6 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 358px 0px;
}

.block-6__title {
  max-width: 600px;
  font-weight: 700;
  font-size: calc(26px + 10 * (100vw / 1440));
  line-height: 46px;
  color: #4d533c;
  margin: 0px 0px 87px 0px;
}

.block-6__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.block-6__column {
  width: 194px;
  margin: 0px 95px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.block-6__subtitle {
  width: 194px;
  font-weight: 500;
  font-size: 24px;
  line-height: 142%;
  text-transform: uppercase;
  color: #4d533c;
  margin: 0px 0px 20px 0px;
}

.block-6__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  color: rgba(33, 56, 66, 0.6);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 30px 0px;
}

.block-6__button {
  width: 102px;
}

.slogan {
  position: absolute;
  bottom: -172px;
  width: 1275px;
  height: 362px;
  background: #fafafa;
  -webkit-box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  padding: 70px 0px 70px 164px;
}

.slogan__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 123%;
  color: #4d533c;
  margin: 0px 0px 50px 0px;
}

.slogan__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  width: 165px;
}

.slogan__button-before {
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid #d4d6d4;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin: 0px 2px 0px 0px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.slogan__button-after {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #d4d6d4;
  border-bottom: 2px solid #d4d6d4;
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer {
  width: 1440px;
  height: 920px;
  padding: 310px 0px 40px 0px;
  background: url("../imgs/footer/background.png") 0 0/100% 100%, #4f553d;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 52px 0px;
}

.footer__column {
  width: 178px;
  margin: 0px 68px 0px 0px;
}

.footer__column:nth-child(3) {
  margin: 0px 0px 0px 0px;
}

.footer__column:nth-child(4) {
  width: 319px;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  color: #b6c197;
}

.footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 250%;
  color: #ffffff;
  width: 208px;
}

.footer__ability {
  margin: 60px 0px 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__end {
  margin: 32px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__end p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #b5c096;
}

.footer__logo {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
}

.footer__hr {
  width: 100%;
  height: 2px;
  background: #5d6544;
}

.footer__vertical-hr {
  width: 1px;
  height: 210px;
  background: #5d6544;
  margin: 0px 110px 0px 0px;
}

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.button-before {
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid #d4d6d4;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin: 0px 2px 0px 0px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.button-after {
  border-bottom: 2px solid #d4d6d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #d4d6d4;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.button:hover .button-after {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  color: #ffd723;
  border-bottom: 2px solid #ffd723;
}

.button:hover .button-before {
  border-left: 6px solid #ffd723;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.button:active .button-after {
  color: #ffd72377;
  border-bottom: 2px solid #ffd72377;
}

.button:active .button-before {
  border-left: 6px solid #ffd72377;
}
