@import "nuclear";
$container: 1200px;
$maxWidth: 1440px;
$maxWidthFS: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidthFS: $maxWidthFS - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthFS}));
}
body {
    background-color: #171836;
    color: rgba(255, 255, 255, 0.8);
}
.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    
    @media (max-width: 400px) {
        width: 300px;
    }
}
//-------------------------------------------------------------------------------------------
.subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    @media (max-width: 400px) {
        width: 300px;
    }
}
//-------------------------------------------------------------------------------------------
.wrapper {
    min-height: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
}
//-------------------------------------------------------------------------------------------
.container {
    max-width: 100%;
    width: $container;
    margin: 0 auto;
    padding: 0px 10px;
}
//-------------------------------------------------------------------------------------------
.header {
    margin: 0px auto;
    min-height: 1000px;
    &__head {
        margin: 20px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__head > div {
        display: flex;
        @media (max-width: 500px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__logo {
        margin: 0px 148px 0px 0px;
        cursor: pointer;
        @media (max-width: 600px) {
            margin: 0px 50px 20px 0px;
        }
    }

    &__menu {
        @media (max-width: 600px) {
            margin: 0px 20px 0px 0px;
        }
    }

    &__lang {
        display: flex;
        align-items: center;
        color: #d1d1d7;
        cursor: pointer;
        @media (max-width: 500px) {
            margin: 0px 0px 30px 0px;
        }
    }

    &__lang-icon {
        position: relative;
        margin: 0px 0px 0px 6px;
    }
    &__lang-icon:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 7px solid #d1d1d7;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        display: flex;
        align-items: center;
        right: -15px;
        top: 10px;
    }
    &__lang-icon.active:after {
        content: "";
        transform: rotate(180deg);
    }

    &__sign-in {
        background: #f5443b;
        border-radius: 6px;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        width: 102px;
        height: 41px;
        margin: 0px 0px 0px 49px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        @media (max-width: 900px) {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }
    &__bimg-block {
    }

    &__text-block {
        margin: 70px 0px 0px 0px;
        @media (max-width: 900px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 0px 0px 0px;
        }
    }

    &__title {
        font-weight: 600;
        @include adaptiv-font(56, 26);
        line-height: 130%;
        letter-spacing: -0.01em;
        color: rgba(255, 255, 255, 0.8);
        max-width: 484px;
        margin: 130px 0px 24px 0px;
        @media (max-width: 900px) {
            margin: 0px 0px 24px 0px;
        }
        @media (min-width: 1200px) {
            font-size: 56px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.4);
        margin: 0px 0px 56px 0px;
    }

    &__input-block input {
        background: #1f2143;
        border-radius: 12px;
        max-width: 506px;
        height: 68px;
        width: 100%;
        min-width: 350px;
        display: flex;
        align-items: center;
        padding: 22px 0px 22px 32px;
        color: rgba(255, 255, 255, 0.4);
        font-size: 18px;
        position: relative;
        @media (max-width: 360px) {
            min-width: 280px;
            padding: 12px 0px 12px 22px;
        }
    }
    &__input-block {
        position: relative;
        margin: 0px 0px 48px 0px;
        max-width: 506px;
    }
    &__input-block::after {
        content: "";
        width: 44px;
        height: 44px;
        position: absolute;
        right: 12px;
        background: url("../imgs/header/search.svg") center center / 60% 60% no-repeat, #282b57;
        border-radius: 6px;
        z-index: 2;
        top: 12px;
        cursor: pointer;
    }
    &__input-block input::placeholder {
        background: #1f2143;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.4);
        @media (max-width: 360px) {
            font-size: 16px;
        }
    }
    &__input-text {
    }

    &__input-button-search {
    }

    &__Suggestions {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        @media (max-width: 900px) {
            max-width: 700px;
            justify-content: center;
        }
    }

    &__Suggestion {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: rgba(154, 156, 203, 0.6);
        border: 1px solid rgba(154, 156, 203, 0.6);
        border-radius: 8px;
        padding: 8px 18px;
        margin: 0px 24px 24px 0px;
        cursor: pointer;
        transition: all 0.2s ease 0s;
    }
    &__Suggestion:hover {
        color: rgba(255, 255, 255, 0.63);
        transition: all 0.2s ease 0s;
        background-color: rgba(255, 255, 255, 0.158);
    }
    &__Suggestion:active {
        color: rgb(255, 255, 255);
        border: 1px solid #fff;
    }
}
//-------------------------------------------------------------------------------------------

.menu {
    display: flex;
    align-items: center;
    &__burger {
        display: none;
    }
    @media (max-width: 800px) {
        &__burger {
            display: flex;
            width: 50px;
            height: 50px;
            background-color: rgb(9, 48, 92);
            position: relative;
            cursor: pointer;
        }
        &__burger span {
            position: absolute;
            top: 24px;
            left: 10px;
            border-radius: 2px;
            width: 30px;
            height: 4px;
            background-color: #d1d1d7;
        }
        &__burger span:before {
            content: "";
            position: absolute;
            top: -10px;
            border-radius: 2px;
            width: 30px;
            height: 4px;
            background-color: #d1d1d7;
        }
        &__burger span::after {
            content: "";
            position: absolute;
            top: 10px;
            border-radius: 2px;
            width: 30px;
            height: 4px;
            background-color: #d1d1d7;
        }
    }

    &__body {
        @media (max-width: 800px) {
            display: none;
        }
    }

    &__list {
        display: flex;
    }

    &__point {
        color: rgba(255, 255, 255, 0.6);
        margin: 0px 44px 0px 0px;
        cursor: pointer;
        transition: all 0.2s ease 0s;
    }
    &__point:last-child {
        margin: 0px 0px 0px 0px;
    }
    &__point:hover {
        color: #fff;
        transition: all 0.2s ease 0s;
    }
    &__point:active {
        color: rgba(255, 255, 255, 0.356);
    }
}
//-------------------------------------------------------------------------------------------
.bimg-block {
    margin: 0px 0px 100px 0px;
    position: relative;
    max-width: 100%;
    width: 785px;
    flex: 0 0 55%;
    max-height: 752px;
    @media (max-width: 900px) {
        flex: 0 0 100%;
        width: 100%;
        margin: 0px 0px 40px 0px;
    }
    @media (max-width: 500px) {
        max-width: 100%;
    }
    &__img-of-students {
        max-width: 363px;
        width: 100%;
        height: 92px;
        background: linear-gradient(180deg, rgba(76, 94, 157, 0.8) -32.08%, rgba(23, 24, 54, 0.8) 127.36%);
        border-radius: 20px;
        display: flex;
        padding: 0px 20px;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 2;
        right: 15%;
        bottom: 27%;
        @media (max-width: 1100px) {
            bottom: 35%;
        }
        @media (max-width: 1000px) {
            bottom: 40%;
        }
        @media (max-width: 900px) {
            bottom: 10%;
        }
        @media (max-width: 500px) {
            right: 10%;
        }
        @media (max-width: 450px) {
            flex-wrap: wrap;
            right: 0%;
            justify-content: center;
        }
        @media (max-width: 358px) {
            height: 140px;
        }
    }
    &__student {
        width: 52px;
        height: 52px;
    }
    &__student-1 {
        background: url("../imgs/header/student-1.svg") 0 0 / 100% 100% no-repeat;
    }

    &__student-2 {
        background: url("../imgs/header/student-2.svg") 0 0 / 100% 100% no-repeat;
        margin: 0px 0px 0px -20px;
    }

    &__student-3 {
        background: url("../imgs/header/student-3.svg") 0 0 / 100% 100% no-repeat;
        margin: 0px 0px 0px -20px;
    }

    &__student-4 {
        background: url("../imgs/header/student-4.svg") 0 0 / 100% 100% no-repeat;
        margin: 0px 0px 0px -20px;
    }

    &__student-more {
        background: url("../imgs/header/student-5.svg") 0 0 / 100% 100% no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 164px;
        cursor: pointer;
        margin: 0px 0px 0px -20px;
    }
    &__student-more > img {
        width: 30px;
        height: 30px;
    }

    &__img-of-students-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        color: #bbbbc4;
        margin: 0px 0px 0px 16px;
    }
    &__img-of-students-text span {
        color: #fb5048;
    }
}
//-------------------------------------------------------------------------------------------
.bimg-block > img {
    display: block;
    max-width: 100%;
    margin: 0px 0px 0px -70px;
    height: auto;
    @media (max-width: 900px) {
    }
    @media (max-width: 500px) {
        min-width: 350px;
    }
}
//-------------------------------------------------------------------------------------------
.main {
    &__offer-block {
    }

    &__what-block {
    }

    &__webinar {
    }

    &__course-block {
    }

    &__get-apps-block {
    }
}
//-------------------------------------------------------------------------------------------
.offer-block {
    display: flex;
    margin: 120px 0px 100px 0px;
    @media (max-width: 1000px) {
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px 0px 40px 0px;
    }

    &__column {
        width: 33.3%;
        margin: 0px 97px 0px 0px;
        @media (max-width: 1000px) {
            margin: 20px 20px 20px 80px;
            width: 350px;
            max-width: 100%;
        }
    }
    &__column:first-child {
        margin: 0px 97px 0px 68px;
        @media (max-width: 1000px) {
            margin: 20px 20px 20px 80px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.7);
        margin: 0px 0px 12px 0px;
        display: flex;
        align-items: center;
    }

    &__title-icon-1 {
        margin: 0px 18px 0px -70px;
        width: 50px;
        height: 50px;
        background: url("../imgs/offer-block/icon_1.png") 0 0 / 50px 50px no-repeat;
    }

    &__text {
        max-width: 311px;
        font-weight: 400;
        font-size: 14px;
        line-height: 170%;
        color: rgba(255, 255, 255, 0.6);
    }

    &__title-icon-2 {
        margin: 0px 18px 0px -70px;
        width: 50px;
        height: 50px;
        background: url("../imgs/offer-block/icon_2.png") 0 0 / 50px 50px no-repeat;
    }

    &__title-icon-3 {
        margin: 0px 18px 0px -70px;
        width: 50px;
        height: 50px;
        background: url("../imgs/offer-block/icon_3.png") 0 0 / 50px 50px no-repeat;
    }
}
//-------------------------------------------------------------------------------------------
.text {
}
//-------------------------------------------------------------------------------------------
.what-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 0px;

    @media (max-width: 800px) {
        padding: 26px 0px;
    }
    &__title {
        text-align: center;
    }

    &__desc {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.4);
        margin: 0px 0px 84px 0px;
    }

    &__columns {
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 48px 0px;

        @media (max-width: 1240px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__column {
        background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        max-width: 276px;
        padding: 12px 12px 24px 12px;
        margin: 0px 32px 20px 0px;
        height: 100%;
        @media (max-width: 950px) {
            margin: 30px;
        }
    }
    &__column:last-child {
        margin: 0px 0px 20px 0px;
        @media (max-width: 950px) {
            margin: 30px;
        }
    }

    &__img {
        position: relative;
        width: 252px;
        height: 169px;
        background: rgb(30, 32, 67);
        border-radius: 10px;
        text-align: center;
    }
    &__img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }
    &__how-many {
        position: absolute;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        left: 10px;
        bottom: 10px;
        padding: 6px 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #ffffff;
    }

    &__category {
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        color: #3bf5bd;
        margin: 0px 0px 8px 0px;
    }

    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.8);
        margin: 0px 0px 12px 0px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.4);
        margin: 0px 0px 20px 0px;
    }

    &__hr {
        border: 1px solid #292b56;
    }

    &__account {
    }

    &__column-button {
        padding: 12px 32px;
        background: #f5443b;
        border-radius: 6px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        width: 155px;
        margin: 28px auto 0px auto;
    }

    &__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #f5443b;
        border: 1px solid #f5443b;
        border-radius: 6px;
        padding: 16px 32px;
        background-color: rgba(255, 255, 255, 0);
    }
}
//-------------------------------------------------------------------------------------------
.account {
    display: flex;
    margin: 20px 0px 0px 0px;
    &__img {
        width: 42px;
        height: 42px;
        margin: 0px 15px 0px 0px;
    }
    &__img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__inf {
    }

    &__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.8);
    }

    &__desc {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.4);
    }
}
//-------------------------------------------------------------------------------------------
.webinar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 109px 0px 84px 0px;
    @media (max-width: 900px) {
        padding: 59px 0px 44px 0px;
    }
    &__title {
        margin: 0px 0px 20px 0px;
        @media (max-width: 900px) {
            text-align: center;
        }
    }

    &__subtitle {
        margin: 0px 0px 105px 0px;
        @media (max-width: 900px) {
            margin: 0px 0px 24px 0px;
        }
    }

    &__video-block {
        position: relative;
        margin: 0px 0px 56px 0px;
        width: 1200px;
        height: 424px;
        max-width: 100%;
        @media (max-width: 900px) {
            max-height: 300px;
            margin: 0px 0px 26px 0px;
        }
    }
    &__video-block img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__button {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #d1d1d7;
        float: right;
        background-color: #17183600;
        position: relative;
        margin: 0px 40px 0px auto;
    }
    &__button::after {
        position: absolute;
        margin: 0px 0px 0px 5px;
        width: 40px;
        height: 30px;
        content: "";
        background: url("../imgs/webinar/arrow-right.svg") 0 0 / 100% 100% no-repeat;
    }
}
//-------------------------------------------------------------------------------------------
.course-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 85px 0px 115px 0px;

    @media (max-width: 900px) {
        padding: 45px 0px 57px 0px;
    }
    &__title {
    }

    &__subtitle {
    }

    &__columns {
        display: flex;
        @media (max-width: 1240px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__column {
        background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
        border-radius: 20px;
        padding: 36px;
        margin: 0px 42px 0px 0px;
        width: 372px;
        display: flex;
        flex-direction: column;
        border: 3px solid #242650;
        border-radius: 20px;
        position: relative;
        @media (max-width: 1240px) {
            margin: 30px;
        }
        @media (max-width: 500px) {
            width: 250px;
            padding: 36px 10px;
            margin: 30px 10px;
        }
    }
    &__column:last-child {
        margin: 0px 0px 0px 0px;
        background: url("../imgs/course-block/popular-bg.png") top right / 100px 100px no-repeat,
            linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
        @media (max-width: 1240px) {
            margin: 30px;
        }
        @media (max-width: 500px) {
            padding: 36px 10px;
            margin: 30px 10px;
        }
    }

    &__icon {
        width: 56px;
        height: 56px;
        position: absolute;
    }
    &__icon img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.8);
        margin: 0px 0px 0px 86px;
    }

    &__price {
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: #f5453d;
        position: relative;
        margin: 0px 0px 22px 96px;
    }
    &__price::before {
        content: "$";
        font-size: 14px;
        position: absolute;
        left: -10px;
        top: -5px;
    }
    &__price::after {
        content: "/ month";
        font-size: 11px;
        color: rgba(255, 255, 255, 0.8);
        margin: 0px 0px 0px 5px;
    }
    &__hr {
        border: 1px solid #272953;
    }

    &__list {
        margin: 29px 0px 0px 0px;
    }

    &__point {
        position: relative;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        margin: 0px 0px 16px 20px;
        color: rgba(255, 255, 255, 0.8);
    }
    &__point::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #9799ce;
        border-radius: 50%;
        left: -20px;
        top: 5px;
    }

    &__button {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        border-radius: 6px;
        padding: 16px 32px;
        width: 100%;
        background-color: #17183600;
        margin: auto 0px 0px 0px;
    }

    &__button-1 {
        color: #f5443b;
        opacity: 0.5;
        border: 1px solid #f5443b;
    }

    &__button-2 {
        color: #f5443b;
        border: 1px solid #f5443b;
    }

    &__category {
        position: absolute;
        right: 10px;
        top: 10px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        transform: rotate(32.64deg);
    }

    &__button-3 {
        background-color: #f5443b;
        color: #fff;
    }
}
//-------------------------------------------------------------------------------------------
.get-apps-block {
    overflow-y: hidden;
    max-height: 434px;
    padding: 85px 100px 105px 100px;
    background: linear-gradient(102.01deg, #23265c 1.96%, #352a56 101.68%);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    margin: 60px 0px 100px 0px;
    @media (max-width: 1050px) {
        flex-direction: column;
        max-height: none;
        padding: 85px 100px 0px 100px;
    }

    @media (max-width: 600px) {
        padding: 85px 20px 0px 20px;
    }

    &__text-block {
        width: 45%;
        @media (max-width: 1050px) {
            width: 100%;
            margin: 0px 0px 80px 0px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 47.2727px;
        line-height: 160%;
        color: #ffffff;
        opacity: 0.7;
        margin: 0px 0px 12px 0px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
        color: rgba(255, 255, 255, 0.7);
        margin: 0px 0px 32px 0px;
    }

    &__download {
        display: flex;
        align-items: center;
        @media (max-width: 440px) {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__play-market {
        margin: 0px 25px 0px 0px;
        @media (max-width: 440px) {
            margin: 0;
        }
    }

    &__app-tore {
    }

    &__bimg-block {
    }
}
//-------------------------------------------------------------------------------------------
.bimg2-block {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    @media (max-width: 1050px) {
        width: 100%;
        align-items: center;
    }

    &__body {
        padding: 23px;
        margin: -45px 36px 0px 0px;
        width: 285px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.192) 0%, rgba(255, 255, 255, 0.088) 100%);
        border-top-left-radius: 20.5862px;
        border-top-right-radius: 20.5862px;
        min-height: 395px;
        position: relative;
        @media (max-width: 455px) {
            height: 520px;
        }
        @media (max-width: 400px) {
            width: 220px;
        }
    }

    &__account-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 40px 0px;
    }
    &__account-block2 {
        display: flex;
    }
    &__account-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 37px;
        background: rgba(255, 255, 255, 0.5);
        border: 2.47034px solid rgba(255, 255, 255, 0.12);
        border-radius: 8.23448px;
        margin: 0px 10px 0px 0px;
    }

    &__inf {
    }

    &__name {
        font-weight: 600;
        font-size: 11.5283px;
        line-height: 160%;
        color: rgba(255, 255, 255, 0.8);
        margin: 0px 0px 3px 0px;
    }

    &__status-text {
        font-weight: 500;
        font-size: 9.88138px;
        line-height: 160%;
        color: rgba(255, 255, 255, 0.8);
    }

    &__status-icon {
    }

    &__slogan-block {
        background: rgba(18, 11, 35, 0.09);
        border: 1.56455px solid rgba(255, 255, 255, 0.08);
        border-radius: 16.469px;
        padding: 20px 16px;
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 60px 0px;
    }

    &__slogan-img {
        width: 80%;
    }
    &__link-block-element {
        display: flex;
    }
    &__link-block {
        background: rgba(255, 255, 255, 0.2);
        border: 2.47034px solid rgba(255, 255, 255, 0.12);
        border-radius: 16.469px;
        width: 160px;
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 13px;
        height: 93px;
        display: flex;
        align-items: flex-end;
        @media (max-width: 570px) {
            right: -30px;
        }
        @media (max-width: 455px) {
            right: 60px;
            bottom: 20px;
        }
        @media (max-width: 400px) {
            right: 30px;
        }
    }
    &__link-block:first-child {
        right: 211px;
        @media (max-width: 570px) {
            right: 160px;
        }
        @media (max-width: 455px) {
            right: 60px;
            bottom: 160px;
        }
        @media (max-width: 400px) {
            right: 30px;
        }
    }

    &__link-icon {
        position: relative;
    }
    &__link-icon img {
        position: absolute;
        bottom: 17px;
    }
    &__link-button {
        font-weight: 600;
        font-size: 11.5283px;
        line-height: 160%;
        background-color: #17183600;
        color: #ffffff;
        opacity: 0.7;
        display: flex;
        align-items: center;
    }
    &__link-button span {
        margin: 0px 22px 0px 0px;
    }
    &__photo {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.2);
        border: 1.23517px solid rgba(255, 255, 255, 0.12);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 500px) {
            display: none;
        }
    }
    &__photo-1 {
        top: 70px;
        left: -80px;
        width: 60px;
        height: 60px;
    }
    &__photo-2 {
        top: 180px;
        left: -48px;
        width: 45px;
        height: 45px;
    }
    &__photo-3 {
        top: 210px;
        left: 265px;
        width: 52px;
        height: 52px;
    }
    &__slogan {
    }
    &__slogan-title {
        font-weight: 700;
        font-size: 11.5283px;
        line-height: 160%;
        color: #ffffff;
        opacity: 0.8;
    }
    &__slogan-subtitle {
        font-weight: 400;
        font-size: 8.23448px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.6);
    }
}
//-------------------------------------------------------------------------------------------

.footer {
    display: flex;
    flex-direction: column;
    padding: 48px 0px 30px 0px;
    &__body {
        display: flex;
        @media (max-width: 920px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: 340px) {
            justify-content: flex-start;
        }
    }
    &__block {
        width: 234px;
        display: flex;
        flex-direction: column;
        margin: 0px 142px 0px 0px;
        @media (max-width: 920px) {
            margin: 15px 15px 50px 15px;
        }
    }

    &__logo {
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        color: rgba(255, 255, 255, 0.8);
        opacity: 0.6;
    }

    &__social {
        display: flex;
        align-items: center;
    }

    &__social-icon {
        margin: 24px 35px 0px 0px;
    }
    &__social-icon:last-child {
        margin: 24px 0px 0px 0px;
    }

    &__columns {
        display: flex;
        @media (max-width: 768px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: 340px) {
            justify-content: flex-start;
        }
    }

    &__column {
        margin: 0px 81px 0px 0px;
        @media (max-width: 768px) {
            margin: 15px 15px 30px 15px;
        }
    }

    &__column:last-child {
        margin: 0px 0px 0px 0px;
        @media (max-width: 768px) {
            margin: 15px 15px 30px 15px;
        }
    }
    &__column-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: rgba(255, 255, 255, 0.8);
        margin: 0px 0px 24px 0px;
    }

    &__column-point {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;

        color: rgba(255, 255, 255, 0.7);
        margin: 0px 0px 20px 0px;
        opacity: 0.6;
        display: block;
    }

    &__column-copyright {
        margin: 86px auto 0px auto;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #8f91d0;
        @media (max-width: 388px) {
            flex-wrap: wrap;
            line-height: 28px;
        }
    }
    &__column-copyright-img {
        width: 17px;
        height: 17px;
        border: 2px solid #8f91d0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 6px;
    }
    &__column-copyright-img img {
        width: 10px;
        height: 10px;
    }
}
//-------------------------------------------------------------------------------------------
