* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    background-color: #c2ab43;
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    max-height: 100vh;
    overflow-y: hidden;
}

* {
    font-weight: 400;
    color: rgb(0, 0, 0);
}



.wrapper {
    width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 1200px;
}

.title {
    font-size: 48px;
    margin: 0 0 200px 0;
    letter-spacing: 3px;
}

.title:hover {
    letter-spacing: 8px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}



.links a {
    margin: 0 40px 20px 0;
    display: block;
    letter-spacing: 2px;
    padding: 30px;
    transition: all 0.3s ease 0s;
}

.links a:hover {
    color: rgba(0, 0, 0, 0.274);
    transition: all 0.3s ease 0s;

}


.links a:active {
    color: bisque;
    transition: all 0.3s ease 0s;
}

.links a:last-child {
    margin: 0 0px 20px 0;
}

@media(max-width:679px) {
    .links a:last-child {
        margin: 0 40px 20px 0;
    }
}
