.about-us {
  z-index: 2;
  position: relative;
  background: url("../imgs/about-us/background.png") center 0/1920px 100% no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 70px 250px 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__text-block {
  width: 50%;
  margin: 0 20px 0 0;
  max-width: 602px;
}

.about-us__title-video, .about-us__title {
  color: #f7f5ff;
  margin: 0 0 85px 0;
}

.about-us__title-video {
  display: none;
  margin: 0 0 30px 0;
}

@media (max-width: 1850px) {
  .about-us__title-video {
    margin: 100px 0 30px 0;
  }
}

@media (max-width: 768px) {
  .about-us__title-video {
    margin: 0px 0 30px 0;
  }
}

.about-us__text {
  color: #fff;
}

.about-us__text p {
  margin: 0 0 30px 0;
}

.about-us__video-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us__video {
  margin: 70px 0 20px 0;
  min-width: 796px;
  min-height: 600px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #161616;
  z-index: 12;
  border: 3px #fff solid;
  border-radius: 35px;
}

.about-us__video-img {
  width: 756px;
  height: 551px;
  opacity: 0.08;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.about-us__video-img.active {
  opacity: 1;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

@media (max-width: 1850px) {
  .about-us__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 200px 10px 100px 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about-us__text-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 800px;
    width: 100%;
    padding: 0 50px;
  }
  .about-us__video-block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us__video {
    max-width: 796px;
    max-height: 601px;
    width: 100%;
    height: 100%;
    margin: 120px 0 120px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us__video iframe {
    max-width: 100%;
  }
  .about-us__title-video {
    display: block;
  }
  .about-us__title {
    display: none;
  }
}

@media (max-width: 1280px) {
  .about-us__text p:nth-child(6),
  .about-us__text p:nth-child(5) {
    display: none;
  }
  .about-us__video {
    margin: 0;
    min-height: 400px;
    min-width: 550px;
  }
}

@media (max-width: 768px) {
  .about-us {
    padding: 50px 0 60px 0;
  }
  .about-us__text-block {
    text-align: center;
    padding: 0 20px;
  }
  .about-us__title-video {
    font-size: 41px;
  }
  .about-us__text p:nth-child(4) {
    display: none;
  }
  .about-us__video {
    margin: -100px 0;
    max-height: 200px;
    min-width: 200px;
    background-color: rgba(51, 51, 51, 0);
    border: none;
  }
}
