.footer {
  position: relative;
  min-height: 330px;
}

.footer__body {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  padding: 150px 123px 107px 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

.footer__copyright, .footer__copyright2 {
  font-size: 21px;
  font-weight: 400;
  line-height: 140%;
  color: #ffffff;
}

.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu-link {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0 20px 0 0;
  white-space: nowrap;
}

.footer__menu-link a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.footer__menu-link:hover a {
  color: rgba(255, 255, 255, 0.493);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__inf, .footer__inf2 {
  font-size: 21px;
  font-weight: 400;
  line-height: 140%;
  color: #ffffff;
  margin: 0 10px 0 0;
}

.footer__copyandinf {
  display: none;
}

.footer__wave {
  z-index: 2;
  position: absolute;
  top: 120px;
  left: -800px;
  max-width: 3000px;
  min-width: 3000px;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  background: url("../imgs/footer/bgfooter-1.png") center 0/3000px 100% no-repeat;
  -webkit-animation: move-forever 1s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 1s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.footer__wave#wave1 {
  top: 0px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  z-index: 3;
}

.footer__wave#wave2 {
  top: 10px;
  background: url("../imgs/footer/bgfooter-2.png") center 0/3000px 100% no-repeat;
  opacity: 0.133131;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.footer__wave#wave3 {
  top: 5px;
  background: url("../imgs/footer/bgfooter-3.png") center 0/3000px 100% no-repeat;
  opacity: 0.151313;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.footer__wave#wave4 {
  top: 0px;
  background: url("../imgs/footer/bgfooter-4.png") center 0/3000px 100% no-repeat;
  opacity: 0.1111;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.footer__wave#wave5 {
  top: 0px;
  background: url("../imgs/footer/bgfooter-5.png") center 0/3000px 100% no-repeat;
  opacity: 0.23311;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.footer__wave#wave6 {
  top: 0px;
  background: url("../imgs/footer/bgfooter-6.png") center 0/3000px 100% no-repeat;
  opacity: 0.133311;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.footer__wave#wave7 {
  top: 5px;
  background: url("../imgs/footer/bgfooter-7.png") center 0/3000px 100% no-repeat;
  opacity: 0.13123311;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.footer__wave#wave8 {
  top: 0px;
  background: url("../imgs/footer/bgfooter-8.png") center 0/3000px 100% no-repeat;
  opacity: 0.13123;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.footer__wave#wave9 {
  top: 0px;
  background: url("../imgs/footer/bgfooter-9.png") center 0/3000px 100% no-repeat;
  opacity: 0.123123;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.footer__wave#wave10 {
  top: 0px;
  background: url("../imgs/footer/bgfooter-10.png") center 0/3000px 100% no-repeat;
  opacity: 0.31;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

@media (max-width: 1400px) {
  .footer__body {
    padding: 150px 123px 47px 123px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__copyandinf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff;
    width: 100%;
    margin: 90px 0 0 0;
  }
  .footer__copyright, .footer__inf {
    display: none;
  }
}

@media (max-width: 1280px) {
  .footer__body {
    padding: 150px 40px 63px 40px;
  }
}

@media (max-width: 768px) {
  .footer {
    min-height: 300px;
  }
  .footer__body {
    padding: 50px 40px 63px 40px;
  }
  .footer__navigation {
    display: none;
  }
}

@media (max-width: 600px) {
  .footer__copyandinf {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__inf2 {
    margin: 54px 0 0 0;
  }
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
}
