.header {
  padding: 60px 0 100px 0;
  background-color: #f7f4ff;
}

.header__body {
  font-family: "Averta Demo PE";
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__row:last-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -14px 0 0 0;
}

@media (max-width: 1280px) {
  .header__menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
  .header__row:first-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__social-item {
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0b0b0b;
  margin: 0 20px 0 0;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__social-item:hover {
  background-color: #a07ffa;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__partners-frames {
  margin: 50px 79px 0 0;
}

.header__partners-frames div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__partners-frames img {
  margin: 0 10px 10px 0;
  z-index: 2;
}

.header__partners-frames img:last-child {
  margin: 0 0 10px 0;
}

.header__human {
  position: relative;
  width: 35%;
  z-index: 2;
}

.header__img-human {
  z-index: -1;
  margin: 0 0 0 30px;
}

.header__img-equalaser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 350px;
  height: 74px;
  bottom: 160px;
  right: -48%;
}

@media (max-width: 1753px) {
  .header__img-equalaser {
    right: inherit;
    left: -20px;
    -webkit-animation: none;
            animation: none;
  }
}

.header__img-equalaser span {
  -webkit-animation-name: equalaser;
          animation-name: equalaser;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  display: block;
  width: 10px;
  height: 74px;
  background-color: #8a60fa;
  margin: 0 7px 0 0;
  border-radius: 10px;
}

@media (max-width: 1280px) {
  .header__img-equalaser span {
    -webkit-animation: none;
            animation: none;
  }
}

@media (max-width: 1280px) {
  .header__human {
    display: none;
  }
  .header__partners-frames {
    margin: 80px 0 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1280px) and (max-width: 700px) {
  .header__social {
    display: none;
  }
  .header__partners-frames img {
    max-width: 150px;
  }
}

@media (max-width: 1280px) and (max-width: 700px) and (max-width: 510px) {
  .header__partners-frames img {
    max-width: 98px;
  }
}

.menu {
  margin: 0 50px 0 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  margin: 0 20px 0 0;
  text-transform: uppercase;
  white-space: nowrap;
}

.menu__link:hover a {
  color: #6f4cce;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.menu__link:last-child {
  margin: 0;
  text-transform: uppercase;
}

.menu__link a {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #0b0b0b;
  padding: 10px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

@media (max-width: 1280px) {
  .menu {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #6f4cce;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    position: relative;
    z-index: 9;
  }
  .menu__burger {
    position: absolute;
    width: 32px;
    height: 2px;
    background-color: #f8f3ff;
    z-index: 9;
    top: 24px;
    left: 9px;
  }
  .menu__burger::before {
    content: "";
    width: 32px;
    height: 2px;
    background-color: #f8f3ff;
    display: block;
    position: absolute;
    top: -8px;
    z-index: 9;
  }
  .menu__burger::after {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background-color: #f8f3ff;
    position: absolute;
    top: 8px;
    z-index: 9;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #6f4cce;
    height: 800px;
    width: 580px;
    top: -200px;
    right: -800px;
    -webkit-transform: scale(0, 1) translate(0px, 0px);
            transform: scale(0, 1) translate(0px, 0px);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow-y: auto;
    min-height: 120vh;
  }
  .menu__list.active {
    right: -250px;
    -webkit-transform: scale(1, 1) translate(0px, 0px);
            transform: scale(1, 1) translate(0px, 0px);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .menu__link {
    margin: 0 0 20px 20px;
    width: 150px;
  }
  .menu__link:last-child {
    margin: 0 0 20px 20px;
  }
  .menu__link a {
    color: #fff;
  }
  .menu__link:hover a {
    color: rgba(255, 255, 255, 0.568);
  }
}

.menu__link .header__social {
  display: none;
}

@media (max-width: 700px) {
  .menu__link > .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    margin: 0;
  }
}

@-webkit-keyframes equalaser {
  0% {
    -webkit-transform: scale(1, 100%);
            transform: scale(1, 100%);
  }
  50% {
    -webkit-transform: scale(1, 70%);
            transform: scale(1, 70%);
  }
  100% {
    -webkit-transform: scale(1, 100%);
            transform: scale(1, 100%);
  }
}

@keyframes equalaser {
  0% {
    -webkit-transform: scale(1, 100%);
            transform: scale(1, 100%);
  }
  50% {
    -webkit-transform: scale(1, 70%);
            transform: scale(1, 70%);
  }
  100% {
    -webkit-transform: scale(1, 100%);
            transform: scale(1, 100%);
  }
}

.header__img-equalaser span:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  height: 23px;
}

.header__img-equalaser span:nth-child(2) {
  height: 62px;
}

.header__img-equalaser span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  height: 31px;
}

.header__img-equalaser span:nth-child(4) {
  height: 74px;
}

.header__img-equalaser span:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  height: 62px;
}

.header__img-equalaser span:nth-child(6) {
  height: 62px;
}

.header__img-equalaser span:nth-child(7) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  height: 15px;
}

.header__img-equalaser span:nth-child(8) {
  height: 26px;
}

.header__img-equalaser span:nth-child(9) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  height: 62px;
}

.header__img-equalaser span:nth-child(10) {
  height: 35px;
}

.header__img-equalaser span:nth-child(11) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  height: 74px;
}

.header__img-equalaser span:nth-child(12) {
  height: 62px;
}

.header__img-equalaser span:nth-child(13) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  height: 55px;
}

.header__img-equalaser span:nth-child(14) {
  height: 15px;
}

.header__img-equalaser span:nth-child(15) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  height: 26px;
}

.header__img-equalaser span:nth-child(16) {
  height: 62px;
}

.header__img-equalaser span:nth-child(17) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  height: 26px;
}

.header__img-equalaser span:nth-child(18) {
  height: 74px;
}

.header__img-equalaser span:nth-child(19) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  height: 62px;
}

.header__img-equalaser span:nth-child(20) {
  height: 55px;
}

.header__img-equalaser span:nth-child(21) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  height: 15px;
}
