@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
*,
html,
body {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

html {
  padding: 0;
}

body {
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
}

hr {
  width: 100%;
  height: 2px;
  background: rgba(33, 56, 66, 0.0955529);
  margin: 150px auto;
}

@media (max-width: 767px) {
  hr {
    margin: 70px auto;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  max-width: 1440px;
  margin: 0px auto;
}

.container {
  max-width: 1151px;
  margin: 0px auto;
  padding: 0px 20px;
}

.header {
  max-width: 100%;
  max-height: 810px;
  min-height: 810px;
  height: 100vh;
  position: relative;
}

.header .header__img {
  position: relative;
  position: absolute;
  width: 100%;
  height: 810px;
  z-index: -1;
}

.header .header__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0px 134px 0px;
}

@media (max-width: 380px) {
  .header__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 380px) {
  .header__head-logo {
    margin: 0px 0px 20px 0px;
  }
}

.header__block {
  width: 55%;
}

@media (max-width: 767px) {
  .header__block {
    width: 70%;
  }
}

.header__subtext {
  font-weight: 400;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1120));
  line-height: 21px;
  color: #ffffff;
  margin: 0px 0px 22px 0px;
}

.header__title {
  font-weight: 700;
  font-size: calc(28px + 32 * ((100vw - 320px) / 1120));
  line-height: 123%;
  color: #ffffff;
  margin: 0px 0px 24px 0px;
}

.header__text {
  font-weight: 400;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  line-height: 162%;
  color: #ffffff;
  margin: 0px 0px 45px 0px;
}

.header__button-get-in-touch {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffd723;
  background-color: #f2f2f200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.header__button-get-in-touch-after {
  border-bottom: 1px solid #ffd723;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 105px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.header__button-get-in-touch-before {
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid #ffd723;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  margin: 0px 5px 0px 0px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.header__button-get-in-touch:hover .header__button-get-in-touch-after {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  border-bottom: 1px solid #ffd72385;
  color: #ffd7238a;
}

.header__button-get-in-touch:hover .header__button-get-in-touch-before {
  border-left: 7px solid #ffd72394;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.header__button-get-in-touch:active .header__button-get-in-touch-after {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  border-bottom: 1px solid #cecece94;
  color: #cecece94;
}

.header__button-get-in-touch:active .header__button-get-in-touch-before {
  border-left: 7px solid #cecece94;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.logo {
  font-size: 42px;
  color: #ffffff;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo__icon {
  position: relative;
}

.logo__icon img {
  position: absolute;
  top: 5px;
}

.logo__icon > img:nth-child(1) {
  left: 0;
  z-index: 1;
}

.logo__icon > img:nth-child(2) {
  left: 10px;
  z-index: 2;
}

.logo__icon > img:nth-child(3) {
  left: 10px;
  z-index: 1;
}

.logo > img {
  margin: 0px 0px 0px 70px;
}

.menu {
  position: relative;
}

.menu__body {
  background-color: #f5f6f7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.menu__icon {
  position: absolute;
  width: 20px;
  height: 1.8px;
  background-color: #152934;
  top: 14px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__icon::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1.8px;
  background-color: #152934;
  top: 5px;
}

.menu__icon::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1.8px;
  background-color: #152934;
  top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__icon.active {
  top: 19px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__icon.active::after {
  top: 0px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__icon.active::before {
  display: none;
}

.menu__list {
  position: absolute;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b5c096;
  left: 250px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

@media (max-width: 380px) {
  .menu__list {
    left: -400px;
  }
}

.menu__list.active {
  left: -140px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

@media (max-width: 380px) {
  .menu__list.active {
    left: -20px;
  }
}

.menu__point {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.menu__point:hover {
  background-color: rgba(255, 255, 255, 0.281);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.menu__point:active {
  border: 1px solid #152934;
}

.strip {
  position: absolute;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1276px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 166px 54px 65px;
  top: -100px;
  right: 0;
  background: #ffffff;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
}

@media (max-width: 1281px) {
  .strip {
    padding: 60px 25px 54px 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1070px) {
  .strip {
    padding: 20px 25px 14px 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.strip__img {
  margin: 0px 0px 0px 60px;
}

@media (max-width: 850px) {
  .strip__img {
    margin: 0px 0px 10px 10px;
  }
}

.strip__img:first-child {
  margin: 0px 0px 0px 0px;
}

@media (max-width: 850px) {
  .strip__img:first-child {
    margin: 0px 0px 10px 10px;
  }
}

.main {
  background: #fff;
  position: relative;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1281px) {
  .block-1 {
    margin: 10vh 0 0 0;
  }
}

@media (max-width: 850px) {
  .block-1 {
    margin: 15vh 0 0 0;
  }
}

@media (max-width: 767px) {
  .block-1 {
    margin: 25vh 0 0 0;
  }
}

@media (max-width: 767px) and (max-height: 850px) {
  .block-1 {
    margin: 110vh 0 0 0;
  }
}

@media (max-width: 767px) and (max-height: 767px) {
  .block-1 {
    margin: 120vh 0 0 0;
  }
}

@media (max-width: 767px) and (max-height: 570px) {
  .block-1 {
    margin: 110vh 0 0 0;
  }
}

@media (max-width: 767px) and (max-height: 520px) {
  .block-1 {
    margin: 125vh 0 0 0;
  }
}

@media (max-width: 550px) {
  .block-1 {
    margin: 30vh 0 0 0;
  }
}

@media (max-width: 550px) and (max-height: 850px) {
  .block-1 {
    margin: 40vh 0 0 0;
  }
}

@media (max-width: 550px) and (max-height: 767px) {
  .block-1 {
    margin: 50vh 0 0 0;
  }
}

@media (max-width: 550px) and (max-height: 625px) {
  .block-1 {
    margin: 60vh 0 0 0;
  }
}

@media (max-width: 550px) and (max-height: 520px) {
  .block-1 {
    margin: 70vh 0 0 0;
  }
}

@media (max-width: 380px) {
  .block-1 {
    margin: 50vh 0 0 0;
  }
}

@media (max-width: 380px) and (max-height: 850px) {
  .block-1 {
    margin: 70vh 0 0 0;
  }
}

@media (max-width: 380px) and (max-height: 767px) {
  .block-1 {
    margin: 90vh 0 0 0;
  }
}

@media (max-width: 380px) and (max-height: 570px) {
  .block-1 {
    margin: 110vh 0 0 0;
  }
}

@media (max-width: 380px) and (max-height: 520px) {
  .block-1 {
    margin: 125vh 0 0 0;
  }
}

.bcard-comment__body {
  width: 474px;
  max-width: 100%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 244px 40px 60px 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
}

@media (max-width: 1000px) {
  .bcard-comment__body {
    max-width: 80vw;
  }
}

@media (max-width: 900px) {
  .bcard-comment__body {
    max-width: 85%;
  }
}

@media (max-width: 767px) {
  .bcard-comment__body {
    padding: 60px 40px;
    max-width: 90vw;
    margin: 0px auto;
  }
}

.bcard-comment__text {
  max-width: 100%;
  font-style: italic;
  font-weight: 400;
  font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  line-height: 40px;
  color: #4d533c;
  width: 426px;
}

.bcard-comment__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px 0px 0px;
}

@media (max-width: 676px) {
  .bcard-comment__account {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bcard-comment__account-img {
  max-width: 140px;
  max-height: 120px;
}

.bcard-comment__account-name {
  font-weight: 700;
  font-size: calc(16px + 6 * ((100vw - 320px) / 1120));
  line-height: 33px;
  color: #4d533c;
}

.bcard-comment__account-desc {
  font-weight: 400;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  line-height: 24px;
  color: #152934;
}

.element {
  width: 44vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  .element {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.element__subtext {
  font-weight: 400;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1120));
  line-height: 21px;
  color: rgba(77, 83, 60, 0.9);
  margin: 0px 0px 29px 0px;
}

.element__title {
  max-width: 100%;
  width: 400px;
  font-weight: 700;
  font-size: calc(26px + 10 * ((100vw - 320px) / 1120));
  line-height: 46px;
  color: #4d533c;
  margin: 0px 0px 35px 0px;
}

@media (max-width: 1050px) {
  .element__title {
    width: 80%;
  }
}

.element__text {
  max-width: 100%;
  width: 421px;
  font-weight: 400;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
  margin: 0px 0px 42px 0px;
}

@media (max-width: 1050px) {
  .element__text {
    width: 80%;
  }
}

.element__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #d4d6d4;
  background-color: #fff;
  width: 145px;
  margin: 20px 0px 0px 0px;
}

.element__button-b1 {
  font-weight: 400;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  line-height: 18px;
  color: #d4d6d4;
  background-color: #fff;
  width: 180px;
}

.card-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

@media (max-width: 1050px) {
  .card-comment {
    margin: 20px 0px 20px 0px;
  }
}

.card-comment__body {
  padding: 30px;
  background: #ffffff;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
  max-width: 450px;
  width: 100vw;
  min-width: 280px;
  position: absolute;
  bottom: -80px;
}

.card-comment__text {
  font-style: italic;
  font-weight: 400;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  line-height: 24px;
  color: #4d533c;
}

.card-comment__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-comment__account-img {
  width: 90px;
  height: 90px;
}

.card-comment__account-name {
  font-weight: 700;
  font-size: calc(22px + -6 * ((100vw - 320px) / 1120));
  line-height: 33px;
  color: #4d533c;
}

.card-comment__account-desc {
  font-weight: 400;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  line-height: 24px;
  /* identical to box height */
  color: #152934;
}

.block-2 {
  margin: 0px 0px 104px 0px;
}

@media (max-width: 767px) {
  .block-2 {
    margin: 0px 0px 54px 0px;
  }
}

.block-2__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  .block-2__element {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.block-2__element-title {
  width: 40%;
  max-width: 350px;
  font-weight: 700;
  font-size: calc(26px + 10 * ((100vw - 320px) / 1120));
  line-height: 46px;
  color: #4d533c;
  margin: 0px 133px 0px 0px;
}

@media (max-width: 767px) {
  .block-2__element-title {
    margin: 0px;
    width: 70%;
  }
}

.block-2__element-text {
  width: 49%;
  font-weight: 400;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
  margin: 5px 0px 42px 0px;
}

@media (max-width: 767px) {
  .block-2__element-text {
    width: 70%;
  }
}

.block-3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 165px 0px;
}

@media (max-width: 1050px) {
  .block-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 30px 0px;
  }
}

.block-3__bimg {
  position: relative;
  width: 50%;
  left: -166px;
}

@media (max-width: 1050px) {
  .block-3__bimg {
    width: 100%;
    margin: 20px 0px 60px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 380px) {
  .block-3__bimg {
    margin: 20px 0px 100px 0px;
  }
}

.block-3__bimg > img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1050px) {
  .block-3__card-comment {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.block-3__card-comment .card-comment__body {
  right: -220px;
}

@media (max-width: 1050px) {
  .block-3__card-comment .card-comment__body {
    top: -200px;
    position: absolute;
    width: 90vw;
    right: inherit;
    margin: 20px 0px 40px 0px;
  }
}

.block-3__element {
  width: 40%;
}

@media (max-width: 1050px) {
  .block-3__element {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.block-4 {
  margin: 0px 0px 165px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 165px 0px;
}

@media (max-width: 1050px) {
  .block-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 1050px) {
  .block-4__element {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.block-4__bimg {
  position: relative;
  width: 50%;
}

@media (max-width: 1050px) {
  .block-4__bimg {
    margin: 20px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 20px 0px 100px 0px;
  }
}

.block-4__bimg > img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-4__card-comment .card-comment__body {
  left: -30px;
}

@media (max-width: 1050px) {
  .block-4__card-comment .card-comment__body {
    top: -200px;
    position: absolute;
    width: 90vw;
    left: inherit;
  }
}

.block-5 {
  margin: 0px 0px 165px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 165px 0px;
}

@media (max-width: 1050px) {
  .block-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 30px 0px;
  }
}

.block-5__bimg {
  position: relative;
  width: 50%;
  left: -166px;
  width: 100%;
}

@media (max-width: 1050px) {
  .block-5__bimg {
    margin: 20px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 20px 0px 100px 0px;
  }
}

.block-5__bimg > img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1050px) {
  .block-5__card-comment {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.block-5__card-comment .card-comment__body {
  right: -40px;
}

@media (max-width: 1050px) {
  .block-5__card-comment .card-comment__body {
    top: -180px;
    position: absolute;
    width: 90vw;
    right: inherit;
  }
}

@media (max-width: 1050px) {
  .block-5__element {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.block-6 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 358px 0px;
}

@media (max-width: 1050px) {
  .block-6 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px 260px 0px;
  }
}

.block-6__title {
  max-width: 600px;
  font-weight: 700;
  font-size: calc(26px + 10 * ((100vw - 320px) / 1120));
  line-height: 46px;
  color: #4d533c;
  margin: 0px 0px 87px 0px;
}

@media (max-width: 1050px) {
  .block-6__title {
    max-width: 70%;
    margin: 0px 0px 30px 0px;
  }
}

.block-6__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1100px) {
  .block-6__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.block-6__column {
  width: 194px;
  margin: 0px 95px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1100px) {
  .block-6__column {
    margin: 0px 20px 20px 20px;
  }
}

.block-6__subtitle {
  width: 194px;
  font-weight: 500;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1120));
  line-height: 142%;
  text-transform: uppercase;
  color: #4d533c;
  margin: 0px 0px 20px 0px;
}

.block-6__text {
  font-weight: 500;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1120));
  line-height: 186%;
  color: rgba(33, 56, 66, 0.6);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 30px 0px;
}

.block-6__button {
  width: 102px;
}

.slogan {
  position: absolute;
  bottom: -172px;
  max-width: 1275px;
  width: 100%;
  background: #fafafa;
  -webkit-box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  padding: 70px 0px 70px 164px;
}

@media (max-width: 1050px) {
  .slogan {
    padding: 40px;
    bottom: -50px;
  }
}

.slogan__title {
  font-weight: 700;
  font-size: calc(28px + 32 * ((100vw - 320px) / 1120));
  line-height: 123%;
  color: #4d533c;
  margin: 0px 20px 50px 0px;
}

.slogan__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  width: 165px;
}

.slogan__button-before {
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid #d4d6d4;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin: 0px 2px 0px 0px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.slogan__button-after {
  font-weight: 700;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  line-height: 18px;
  color: #d4d6d4;
  border-bottom: 2px solid #d4d6d4;
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  padding: 310px 0px 40px 0px;
  background: url("../imgs/footer/background.png") 0 0/100% 100%, #4f553d;
}

@media (max-width: 1050px) {
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 0px 20px 0px;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 52px 0px;
}

@media (max-width: 1050px) {
  .footer__contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 30px 0px;
  }
}

.footer__column {
  width: 188px;
  margin: 0px 68px 0px 0px;
}

@media (max-width: 1150px) {
  .footer__column {
    margin: 20px 20px;
  }
}

.footer__column:nth-child(3) {
  margin: 0px 0px 0px 0px;
}

@media (max-width: 1150px) {
  .footer__column:nth-child(3) {
    margin: 20px 20px;
  }
}

.footer__column:last-child .footer__text {
  width: 319px;
}

@media (max-width: 1250px) {
  .footer__column:last-child .footer__text {
    max-width: 205px;
  }
}

.footer__text {
  font-weight: 400;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  line-height: 250%;
  color: #b6c197;
}

@media (max-width: 1050px) {
  .footer__text {
    max-width: 90%;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 250%;
  color: #ffffff;
  width: 208px;
}

@media (max-width: 1050px) {
  .footer__title {
    max-width: 100%;
    min-width: 100px;
  }
}

.footer__ability {
  margin: 60px 0px 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1150px) {
  .footer__ability {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0px;
  }
}

.footer__column:last-child .footer__text {
  width: 319px;
}

@media (max-width: 1250px) {
  .footer__column:last-child .footer__text {
    max-width: 205px;
  }
}

.footer__email {
  font-weight: 700;
  font-size: 24px;
  line-height: 158%;
  color: #ffffff;
  word-wrap: break-word;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-img {
  cursor: pointer;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #444a34;
  margin: 0px 11px 0px 0px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.footer__social-img-icon-1 {
  background: url("../imgs/footer/facebook-1.png") 50% 130%/100% 100% no-repeat;
}

.footer__social-img-icon-2 {
  background: url("../imgs/footer/twitter-1.png") 50% 100%/80% 80% no-repeat;
}

.footer__social-img-icon-3 {
  background: url("../imgs/footer/google-plus-1.png") 50% 100%/90% 90% no-repeat;
}

.footer__social-img-icon-4 {
  background: url("../imgs/footer/linked-in-logo-of-two-letters-1.png") 50% 60%/50% 50% no-repeat;
}

.footer__social-img:hover {
  background-color: #ffd723;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.footer__social-img:active {
  background-color: #e2d390;
}

.footer__social-img:hover .footer__social-img-icon-1 {
  background: url("../imgs/footer/facebook-2.png") 50% 130%/100% 100% no-repeat;
}

.footer__social-img:hover .footer__social-img-icon-2 {
  background: url("../imgs/footer/twitter-2.png") 50% 100%/80% 80% no-repeat;
}

.footer__social-img:hover .footer__social-img-icon-3 {
  background: url("../imgs/footer/google-plus-2.png") 50% 100%/90% 90% no-repeat;
}

.footer__social-img:hover .footer__social-img-icon-4 {
  background: url("../imgs/footer/linked-in-logo-of-two-letters-2.png") 50% 60%/50% 50% no-repeat;
}

.footer__social-img > div {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.footer__social-img > div:hover {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.footer__end {
  margin: 32px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1050px) {
  .footer__end {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .footer__end {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__end p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #b5c096;
}

.footer__logo {
  color: #edb91b;
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 500px) {
  .footer__logo {
    margin: 0px 0px 20px 0px;
  }
}

.footer__hr {
  width: 100%;
  height: 2px;
  background: #5d6544;
}

.footer__vertical-hr {
  width: 1px;
  height: 210px;
  background: #5d6544;
  margin: 0px 110px 0px 0px;
}

@media (max-width: 1150px) {
  .footer__vertical-hr {
    display: none;
  }
}

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.button-before {
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid #d4d6d4;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin: 0px 2px 0px 0px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.button-after {
  border-bottom: 2px solid #d4d6d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #d4d6d4;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.button:hover .button-after {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  color: #ffd723;
  border-bottom: 2px solid #ffd723;
}

.button:hover .button-before {
  border-left: 6px solid #ffd723;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.button:active .button-after {
  color: #ffd72377;
  border-bottom: 2px solid #ffd72377;
}

.button:active .button-before {
  border-left: 6px solid #ffd72377;
}
